@font-face {
  font-family: "font1";
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../fonts/guigs-tech-didact-gothic-regular.ttf);
}
@font-face {
  font-family: "font3";
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
*::-moz-selection {
  background: rgba(0, 51, 102, 0.5);
  color: rgb(161, 198, 236);
}
*::selection {
  background: rgba(0, 51, 102, 0.5);
  color: rgb(161, 198, 236);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "font1", serif;
  background: rgb(249, 249, 249);
  color: rgb(0, 51, 102);
  transition: 0.7s ease-in-out;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  letter-spacing: 6px;
  font-weight: bold;
  font-size: calc(1.8rem + 7vw);
  text-align: left;
}

h2,
h3 {
  font-size: calc(3rem + 5vw);
  letter-spacing: 2px;
}

.title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
}

span {
  display: inline-block;
}

a,
a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 1vw);
}
a:hover,
a:visited:hover {
  transform: scale(1.04);
  color: rgb(161, 198, 236);
}
a:hover::after,
a:visited:hover::after {
  transform-origin: left;
  -webkit-animation: animLink 1.4s infinite ease-in-out;
          animation: animLink 1.4s infinite ease-in-out;
}
a::after,
a:visited::after {
  content: "";
  position: absolute;
  width: 100%;
  background: rgb(249, 249, 249);
  height: 1px;
  bottom: -4px;
  left: 0;
}

@-webkit-keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
.img:hover {
  filter: grayscale(0%);
}

.line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: rgb(0, 51, 102);
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transform-origin: left;
  transition-delay: 0.65s;
}

.wrapper {
  perspective: 500px;
}
.wrapper .appear {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper .appear.is-inview {
  transition-delay: 2s;
  opacity: 1;
  transform: none;
}
.wrapper #h1-wrapper {
  transition-delay: 1s;
}
.wrapper #h4-wrapper {
  transition-delay: 3s;
}

.section-container {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button-s1 {
  color: rgb(255, 153, 102);
  background-color: rgb(0, 51, 102);
  border: rgb(0, 51, 102) 1px solid;
  padding: 15px;
  border-radius: 5px;
  transition: 2s;
  letter-spacing: 1px;
}
.button-s1:hover {
  background-color: rgb(249, 249, 249);
  border: rgb(255, 153, 102) 1px solid;
}
.button-s1 i {
  color: rgb(255, 153, 102);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background: rgb(0, 51, 102);
  z-index: 10;
}
header nav {
  max-width: 1240px;
  width: 100%;
  display: grid;
  grid-template-columns: 0% 20% 60% 20%;
}
header nav div {
  align-items: center;
  display: flex;
}
header nav div ul {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav div ul a,
header nav div ul a:visited {
  color: rgb(249, 249, 249);
}
header nav div ul a::after,
header nav div ul a:visited::after {
  display: none;
}
header nav div ul a:hover::after,
header nav div ul a:visited:hover::after {
  background: rgb(161, 198, 236);
  display: block;
}
header nav .tree a::after,
header nav .tree a:visited::after {
  display: none;
}
header nav .tree a:hover::after,
header nav .tree a:visited:hover::after {
  display: none;
}
header nav .logo {
  display: flex;
  align-items: center;
  justify-content: right;
}
header nav .logo img {
  height: 100px;
}
header nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
header nav .menu ul {
  width: 70%;
  max-width: 400px;
}
header nav .menu ul #menu-current-page::after {
  display: block;
}
@media screen and (max-width: 925px) {
  header nav {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
  }
  header nav .burger i {
    font-size: 3rem;
    color: rgb(249, 249, 249);
  }
  header nav .burger:hover {
    cursor: pointer;
  }
  header nav .tree {
    display: none;
  }
  header nav .menu {
    display: none;
  }
  header nav .menu.show {
    transition: all 0.4s ease-in-out;
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgba(0, 51, 102, 0.5);
    width: 300px;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0px 0px 10px #888;
    border-radius: 5px;
    z-index: 11;
  }
  header nav .menu.show ul {
    display: block;
    text-align: left;
  }
  header nav .menu.show ul li {
    padding: 10px 0;
  }
}

footer {
  background: rgb(0, 51, 102);
  color: rgb(249, 249, 249);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .section-container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  align-items: center;
  padding: 0;
}
footer .section-container .logo {
  display: flex;
  align-items: center;
  justify-content: left;
}
footer .section-container .logo img {
  height: 150px;
}
footer .section-container .tree {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .section-container .tree ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}
footer .section-container .tree ul a,
footer .section-container .tree ul a:visited {
  color: rgb(249, 249, 249);
}
footer .section-container .tree ul a::after,
footer .section-container .tree ul a:visited::after {
  display: none;
}
footer .section-container .tree ul a:hover,
footer .section-container .tree ul a:visited:hover {
  color: rgb(161, 198, 236);
}
footer .section-container .tree ul a:hover::after,
footer .section-container .tree ul a:visited:hover::after {
  display: none;
}
footer .section-container .copyright {
  padding: 50px 0 0;
}
footer .section-container .copyright i {
  font-size: 0.3rem;
}

.title-sec {
  min-height: 100vh;
  margin: 0 2vw 0;
}
.title-sec .section-container {
  position: relative;
  min-height: calc(100vh - 100px);
  padding: 15vh 0 0;
}
.title-sec .section-container h3 {
  font-size: calc(0.7rem + 5vw);
  margin: 18px 0;
  text-align: left;
}
.title-sec .section-container h4 {
  font-size: calc(0.6rem + 4vw);
  margin: 18px 0;
  text-align: left;
}
.title-sec .section-container .scroll-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4vw;
  font-size: calc(0.8rem + 0.5vw);
}
@media screen and (max-width: 1240px) {
  .title-sec .section-container .scroll-wrapper {
    bottom: 6vw;
  }
}
@media screen and (max-width: 925px) {
  .title-sec .section-container .scroll-wrapper {
    bottom: 8vw;
  }
}
@media screen and (max-width: 650px) {
  .title-sec .section-container .scroll-wrapper {
    bottom: 10vw;
  }
}
@media screen and (max-width: 450px) {
  .title-sec .section-container .scroll-wrapper {
    bottom: 12vw;
  }
}

.bio {
  background: rgb(161, 198, 236);
}
.bio .section-container {
  padding: 200px 0;
}
.bio .section-container .img img {
  height: 40vh;
  border-radius: 50%;
  border: rgb(0, 51, 102) 2px solid;
}
.bio .section-container .h2-wrapper {
  mix-blend-mode: exclusion;
  margin: -40vh 0 200px;
}
@media screen and (max-width: 925px) {
  .bio .section-container .h2-wrapper {
    margin: -50vh 0 200px;
  }
}
.bio .section-container p {
  color: rgb(249, 249, 249);
  width: 80%;
  min-width: 350px;
  margin: 0 auto;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: calc(1rem + 1vw);
  padding: 10px 0 100px;
  line-height: calc(7px + 4.5vw);
}
.bio .section-container a::after,
.bio .section-container a:visited::after {
  display: none;
}

.skills {
  margin: 200px 0 250px;
}
.skills h2 {
  margin-bottom: 150px;
}
.skills .wrapper {
  margin: 30px 0;
}
.skills .wrapper .appear {
  text-align: center;
}
.skills .wrapper .appear p {
  font-size: calc(1rem + 4vw);
  letter-spacing: 4px;
  background: rgb(0, 51, 102);
  color: rgb(249, 249, 249);
  display: inline-block;
  padding: 8px 12px 12px;
}

.portfolio {
  margin: 200px 0;
}
.portfolio .project-container {
  margin-top: 100px;
}
.portfolio .project-container .project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}
.portfolio .project-container .project:hover img {
  filter: brightness(20%);
}
.portfolio .project-container .project:hover .project-info {
  opacity: 1;
  transform: translate(-30px, -50%);
}
.portfolio .project-container .project img {
  transition: 0.4s ease-out;
  width: 100%;
}
.portfolio .project-container .project .project-info {
  position: absolute;
  top: 50%;
  transform: translate(-80px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
  color: rgb(249, 249, 249);
}
.portfolio .project-container .project .project-info a {
  font-size: calc(1rem + 3vw);
}
.portfolio .project-container .project .project-info p {
  font-size: 1rem;
  margin-top: 1.5vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: scroll;
  text-align: left;
}
.portfolio .project-container #prj2 {
  margin: 0 6vw 0 auto;
}
.portfolio .project-container #prj3 {
  margin-left: 8vw;
}

.contact {
  margin: 150px 0 120px;
}
.contact p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
}
.contact p a {
  font-size: calc(1rem + 2vw);
  color: rgb(255, 153, 102);
}
.contact .img2 {
  background: url("./../img/logo/png/logo-color.png") center/cover;
  border-radius: 50%;
}

.form .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form .section-container form {
  width: 100%;
  max-width: 450px;
}
.form .section-container form .container-form {
  position: relative;
}
.form .section-container form .container-form i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20px;
}
.form .section-container form .container-form input {
  margin: 5px 0;
  width: 100%;
  padding: 20px 40px;
  border: rgb(0, 51, 102) 1px solid;
  border-radius: 20px;
}
.form .section-container form .container-form textarea {
  margin: 5px 0;
  width: 100%;
  padding: 20px;
  border: rgb(0, 51, 102) 1px solid;
  border-radius: 20px;
  height: 200px;
}
.form .section-container form .container-form #submit-bt1 {
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.form .section-container form .container-form #submit-bt1:hover {
  letter-spacing: 3px;
}
.form .section-container form #success-message,
.form .section-container form #error-message {
  display: none;
}/*# sourceMappingURL=index.css.map */