footer {
  background: $color3;
  color: $color1;
  text-align: center;
  @include center-unique-child;
  .section-container {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
    padding: 0;
    .logo {
      display: flex;
      align-items: center;
      justify-content: left;
      img {
        height: 150px;
      }
    }
    .tree {
      @include center-unique-child;
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        a,
        a:visited {
          color: $color1;
          &::after {
            display: none;
          }
          &:hover {
            color: $color5;
            &::after {
              display: none;
            }
          }
        }
      }
    }
    .copyright {
      padding: 50px 0 0;
      i {
        font-size: 0.3rem;
      }
    }
  }
}
