header {
  @include center-unique-child;
  height: 100px;
  background: $color3;
  z-index: 10;
  nav {
    max-width: 1240px;
    width: 100%;
    display: grid;
    grid-template-columns: 0% 20% 60% 20%;
    div {
      align-items: center;
      display: flex;
      ul {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: right;
      img {
        height: 100px;
      }
    }
    .menu {
      @include center-unique-child;
      transition: all 0.4s ease-in-out;
      ul {
        width: 70%;
        max-width: 400px;
      }
    }
    @media screen and (max-width: 925px) {
      max-width: 400px;
      display: flex;
      justify-content: space-between;
      .burger {
        i {
          font-size: 3rem;
          color: $color1;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .tree {
        display: none;
      }
      .menu {
        display: none;
      }
      .menu.show {
        transition: all 0.4s ease-in-out;
        display: flex;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: $color3-t;
        width: 300px;
        flex-wrap: wrap;
        padding: 20px;
        box-shadow: 0px 0px 10px #888;
        border-radius: 5px;
        z-index: 11;
        ul {
          display: block;
          text-align: left;
          li {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
