.title-sec {
  min-height: 100vh;
  margin: 0 2vw 0;
  .section-container {
    // border-bottom: $color3 2px dashed;
    position: relative;
    min-height: calc(100vh - 100px);
    padding: 15vh 0 0;
    h3 {
      font-size: calc(0.7rem + 5vw);
      margin: 18px 0;
      text-align: left;
    }
    h4 {
      font-size: calc(0.6rem + 4vw);
      margin: 18px 0;
      text-align: left;
    }
    .scroll-wrapper {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 4vw;
      font-size: calc(0.8rem + 0.5vw);

      @media screen and (max-width: 1240px) {
        bottom: 6vw;
      }
      @media screen and (max-width: 925px) {
        bottom: 8vw;
      }
      @media screen and (max-width: 650px) {
        bottom: 10vw;
      }
      @media screen and (max-width: 450px) {
        bottom: 12vw;
      }
    }
  }
}

.bio {
  // background: $color5;
  .section-container {
    padding: 200px 0;
    .img {
      img {
        height: 40vh;
        border-radius: 50%;
        border: $color3 2px solid;
      }
    }
    .h2-wrapper {
      mix-blend-mode: exclusion;
      margin: -40vh 0 200px;
      @media screen and (max-width: 925px) {
        margin: -50vh 0 200px;
      }
    }
    p {
      color: $color1;
      width: 80%;
      min-width: 350px;
      margin: 0 auto;
      font-weight: 100;
      letter-spacing: 1px;
      font-size: calc(1rem + 1vw);
      padding: 10px 0 100px;
      line-height: calc(7px + 4.5vw);
    }
    a,
    a:visited {
      &::after {
        display: none;
      }
    }
  }
}

.skills {
  margin: 200px 0 250px;
  h2 {
    background: $color2;

    margin-bottom: 150px;
  }
  .wrapper {
    margin: 30px 0;
    .appear {
      text-align: center;
      div {
        font-size: calc(1rem + 4vw);
        letter-spacing: 4px;
        background: $color3;
        color: $color1;
        display: inline-block;
        padding: 8px 12px 12px;
      }
    }
  }
}

.portfolio {
  margin: 100px 0 0;

  h2 {
    padding: 0 0 100px;
  }
  #h3-2-wrapper {
    transition-delay: 0.5s;
    h3 {
      font-size: calc(1.3rem + 3vw);
    }
  }
  .project-container {
    margin-top: 100px;
    .project {
      position: relative;
      width: 60vw;
      max-width: 600px;
      margin: 50px 5vw;

      &::before {
        content: "";
        position: absolute;
        width: 110%;
        height: 100%;
        top: -3px;
        background: $color1;
        transition: width 2s ease-out;
        transition-delay: 0.8s;
      }

      &:hover {
        img {
          filter: brightness(20%);
        }

        .project-info {
          opacity: 1;
          transform: translate(-30px, -50%);
        }
      }

      img {
        transition: 0.4s ease-out;
        width: 100%;
      }

      .project-info {
        position: absolute;
        top: 50%;
        transform: translate(-80px, -50%);
        margin-left: 8vw;
        transition: 0.4s ease-out;
        opacity: 0;
        color: $color1;

        a {
          font-size: calc(1rem + 3vw);
        }

        p {
          font-size: 1rem;
          margin-top: 1.5vw;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: scroll;
          text-align: left;
        }
      }
    }

    .project.is-inview {
      &::before {
        width: 0;
      }
    }

    #prj2 {
      margin: 0 6vw 0 auto;
    }

    #prj3 {
      margin-left: 8vw;
    }
  }
}

.contact {
  margin: 150px 0 120px;
  p {
    font-size: calc(1rem + 2vw);
    margin: 25px 0;
    a {
      font-size: calc(1rem + 2vw);
      color: $color2;
    }
  }

  .img2 {
    background: url("./../img/logo/png/logo-color.png") center/cover;
    border-radius: 50%;
    filter: none;
  }
}
